:root {
	--loader-size: 48px;
	--loader-size-inner: 40px;
}

.loader {
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	width: var(--loader-size);
	aspect-ratio: 1;
	border: 3px solid #fff;
	border-radius: 50%;
	animation: rotation 1s linear infinite;
}

.loader::after {
	position: absolute;
	top: 50%;
	left: 50%;
	box-sizing: border-box;
	width: var(--loader-size-inner);
	height: var(--loader-size-inner);
	content: "";
	border: 3px solid transparent;
	border-bottom-color: #ff3d00;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.small {
	--loader-size: 24px;
	--loader-size-inner: 18px;
}

.medium {
	--loader-size: 48px;
	--loader-size-inner: 40px;
}

.large {
	--loader-size: 72px;
	--loader-size-inner: 64px;
}
